<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        body{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100vw;
            background: linear-gradient(#141e30, #243b55);
            font-family: 'Poppins';
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
        }
        .success,.error{
            font-size: 3.5rem;
        }
        .success{
           
            color: #74cd15;
        }

        .error{
            color: #dc0f1a;
        }
    </style>
    <title>
        Signature App |
        <% if(locals.check) { %> 
        Verified
        <% }else { %>
            Declined
        <%} %>
    
    </title>
</head>
<body>
    <div class="container">
        <% if(locals.check){  %>
            <h1 class="success">Twój plik został zweryfikowany pomyślnie &#128077</h1>
            <%}else{ %>
                <h1 class="error">Twój podpis jest nieprawidłowy &#128078</h1>
        <% }%> 
    </div>
    
</body>
</html>