<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" action="/signMessage" method="post">
        <label class="form_label" for="message">
            Nadaj wiadomość
            <input type="text" name="message" id="message" value="">
        </label>
        <input class="form_submit" type="submit">
    </form>
    
</body>
</html>